<div id="second-1" class="tab-pane fade in active">
  <div class="mt-15">
    <span class="fa fa-link"></span>
    <div class="badge">Bisection Method</div>
  </div>
  <div style="margin-top:15px">
    <form id="bisectionForm" class="form-horizontal row" data-ng-submit="bisect.A <= bisect.B && bisectFunction.length > 1 && bisectCalculate(bisect)">
      {% verbatim %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Function :</label>
        <div class="col-sm-4 no-pr">
          <div class="col-sm-6">
            <input type="number" data-ng-model="bis.Num" class="form-control" placeholder="number">
            <div data-ng-click="bis.Pow = 0">
              <input id="addVar" type="checkbox" data-ng-model="addBisVar">
              <label for="addVar">Add variable ?</label>
            </div>
          </div>
          <div class="col-sm-6">
            <input data-ng-disabled="!addBisVar" type="number" ng-model="bis.Pow" class="form-control" placeholder="the power">
          </div>
        </div>
        <label>
          <h4 class="no-margin">
            <span class="glyphicon glyphicon-arrow-right"></span>
            {{ bis.Num | number }}<span data-ng-show="addBisVar">x<sup>{{ bis.Pow | number }}</sup></span>
          </h4>
        </label>
        <button type="button" class="btn btn-success" data-ng-click="bisAddFunct(bis)" style="margin-left:8px">Add</button>
        <button type="button" class="btn btn-warning" data-ng-click="bisResetFunct()">Reset Function</button>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">f(x) = </label>
        <div class="col-sm-10" style="margin-top:5px">
          <code style="font-size:16px">
            <span data-ng-repeat="data in bisectFunction" data-ng-if='$index > 0'>
              <span data-ng-if='$index > 1'>+</span>
              {{ data.n | number}}<span data-ng-if="data.p != 0">x<sup>{{ data.p | number}}</sup></span>
            </span>
          </code>
        </div>
      </div>
      {% endverbatim %}
      <div class="col-sm-4">
        <div class="form-group">
          <label for="left" class="col-sm-3 control-label">Left Position</label>
          <div class="col-sm-7">
            <input type="number" data-ng-model="bisect.A" class="form-control" placeholder="Input left position" required step="any">
          </div>
        </div>
        <div class="alert alert-danger" data-ng-show="bisect.A > bisect.B">
          <span class="glyphicon glyphicon-exclamation-sign"></span> The Left input is bigger than the Right one. Please change the input !
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="left" class="col-sm-3 control-label">Right Position</label>
          <div class="col-sm-7">
            <input type="number" data-ng-model="bisect.B" class="form-control" placeholder="Input right position" required step="any">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="left" class="col-sm-3 control-label">Interval</label>
          <div class="col-sm-7">
            <input type="number" data-ng-model="bisect.Inv" class="form-control" placeholder="Input the Interval" required step="any">
          </div>
          <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-share-alt"></span></button>
          <button type="button" class="btn btn-warning" ng-click="bisectReset()">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
      </div>
    </form>
    {% verbatim %}
      <div data-ng-show="datab">
        <div class="alert alert-danger" data-ng-show="infinite"><h4><b>A long iteration process or Infinite Loop has happened, please reset and change the input !</b></h4></div>
        <table class="table table-hover table-striped mn-last-table">
          <tr class="th-center">
            <th>Iteration</th>
            <th>Left</th>
            <th>Mid</th>
            <th>Right</th>
            <th>f(left)</th>
            <th>f(mid)</th>
            <th>f(right)</th>
            <th>Range</th>
            <th>Epsilon</th>
            <th>Reasons</th>
            <th>Go / Stop</th>
          </tr>
          <tr data-ng-repeat="x in datab" class="center">
            <td>{{ $index }}</td>
            <td>{{ x.left | number: 11 }}</td>
            <td>{{ x.mid | number: 11 }}</td>
            <td>{{ x.right | number: 11 }}</td>
            <td><span data-ng-if="!x.fa">-</span><span data-ng-if="x.fa">{{ x.fa }}</span></td>
            <td><span data-ng-if="!x.fc">-</span><span data-ng-if="x.fc">{{ x.fc }}</span></td>
            <td><span data-ng-if="!x.fb">-</span><span data-ng-if="x.fb">{{ x.fb }}</span></td>
            <td><span data-ng-if="!x.range">-</span>{{ x.range }}</td>
            <td>{{ x.eps | number: 11 }}</td>
            <td>
              <span data-ng-if="((x.fb > 0 && x.fa > 0 && x.fc > 0) || (x.fa < 0 && x.fc < 0 && x.fb < 0)) && x.eps > bisect.Inv">Every function has same sign and the Epsilon's limit hasn't been reached yet.</span>
              <span data-ng-if="((x.fb < 0 && x.fc > 0) || (x.fb >= 0 && x.fc < 0) && x.fc != 0) && x.eps > bisect.Inv">f(mid) and f(right) have different sign</span>
              <span data-ng-if="((x.fa < 0 && x.fc > 0) || (x.fa > 0 && x.fc < 0) && x.fc != 0) && x.eps > bisect.Inv">f(left) and f(mid) have different sign</span>
              <span data-ng-if="x.fc == 0 || x.fa == 0">Stop, because f(mid) * f(left) = 0 (zero)</span>
              <span data-ng-if="x.eps <= bisect.Inv && (x.fc | number: 11) != 0">Stop, because Epsilon's limit has been reached </span>
              <span data-ng-if="infinite && $last">From i{{$index - 1}} to i{{$index - 10}} has the same values.</span>
            </td>
            <td>
              <span data-ng-if="x.eps > bisect.Inv && x.fc !=0 && x.fa != 0 && !(infinite && $last)" class="label label-success">Go</span>
              <span data-ng-if="x.eps <= bisect.Inv" class="label label-danger">Stop</span>
              <span data-ng-if="x.fc == 0 || x.fa == 0" class="label label-danger">Stop</span>
              <span data-ng-if="infinite && $last" class="label label-danger">Stop</span>
            </td>
          </tr>
        </table>
        <div class="add-padding bl-success bg-success">
          <h4>The Root = <b>{{ bisectRoot | number: 11}}</b></h4>
        </div>
      </div>
    {% endverbatim %}
  </div>
</div>