<div id="firstWeek" class="panel-collapse collapse in">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#first-1" data-toggle="tab">Menghitung Akar dari Sebuah Bilangan</a>
      </li>
      <li>
        <a href="#first-2" data-toggle="tab">Deret Taylor / MacLaurin</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="first-1" class="tab-pane fade in active">
        <div class="mt-15">
          <span class="fa fa-link"></span>
          <div class="badge">Menghitung Akar Dari Sebuah Bilangan</div>
        </div>
        <div style="margin-top:10px">
          <form id="sqrtForm" class="form-horizontal" data-ng-submit="sqrtCalculate(sqrtInput)">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="sqrtInput" class="col-sm-4 control-label">Input a number: </label>
                <div class="col-sm-6 no-pr">
                  <input type="text" class="form-control" data-ng-model="sqrtInput" required>
                </div>
                <button type="submit" class="col-sm-1 btn btn-info"><span class="glyphicon glyphicon-share-alt"></span></button>
                <button type="button" class="col-sm-1 btn btn-warning" ng-click="reset()">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label">The Smallest Number : 0.0000000123  || 123*10<sup>-10</sup></label>
            </div>
            {% verbatim %}
            <div data-ng-show="datas">
              <table class="table table-striped table-hover mn-last-table th-center">
                <tr>
                  <th>Iteration</th>
                  <th>S</th>
                  <th>T</th>
                  <th>Eps</th>
                </tr>
                <tr data-ng-repeat="x in datas" class="center">
                  <td>{{ $index }}</td>
                  <td>{{ x.S | number: 10 }}</td>
                  <td>{{ x.T | number: 10 }}</td>
                  <td>{{ x.eps | number: 10 }}</td>
                </tr>
              </table>
                <h3>The Square Root Result : <b><u>{{ sqrtResult | number: 10}}</u></b></h3>
            </div>
            {% endverbatim %}
          </form>
        </div>
      </div>
      <div id="first-2" class="tab-pane fade in" data-ng-controller="maclaurinController">
        <div class="mt-15">
          <span class="fa fa-link"></span> <div class="badge">Deret Taylor / MacLaurin</div>
        </div>
        <div style="margin-top:10px">
          <form id="deretForm" class="form-horizontal" data-ng-submit="macCalculate(mac)">
            <div class="form-group">
              <label for="macDegree" class="col-sm-3 control-label">Input a number : </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="mac.Degree" id="macDegree" required>
              </div>
            </div>
            <div class="form-group">
              <label for="macIteration" class="col-sm-3 control-label">Input the Counting Iteration :</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="macIteration" data-ng-model="mac.Iteration" placeholder="How many iterations do you want ?" required>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-share-alt"></span></button>
                <button type="button" class="btn btn-warning" ng-click="macReset()">
                  <span class="glyphicon glyphicon-refresh"></span>
                </button>
              </div>
            </div>
          </form>
          {% verbatim %}
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="viewBy">View Data in :</label>
                  <select id="viewBy" data-ng-model="viewBy" class="form-control select-modif" data-ng-init="viewBy = 'cos'">
                    <option value="cos">COS(x)</option>
                    <option value="sin">SIN(x)</option>
                    <option value="exp">EXP(x)</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <h3>The Radian or X = {{ radian }}</h3>
                </div>
              </div>
            </div>
            <div data-ng-show="dataMac">
              <table class="table table-striped table-hover th-center">
                <tr>
                  <th>Iteration</th>
                  <th>Value</th>
                </tr>
                <tr data-ng-repeat="x in dataMac" class="center">
                  <td>{{ $index }}</td>
                  <td>
                    <span data-ng-if="viewBy == 'cos'">{{ x.cx | number: 15}}</span>
                    <span data-ng-if="viewBy == 'sin'">{{ x.nx | number: 15}}</span>
                    <span data-ng-if="viewBy == 'exp'">{{ x.ex | number: 15}}</span>
                  </td>
                </tr>
              </table>
              <div class="bl-success add-padding bg-success row" style="margin: 0">
                <ul class="list-inline list-unstyled">
                  <li class="col-sm-6"><h4>The Result of Taylor / Maclaurin Sequence Calculation</h4></li>
                  <li class="col-sm-6">
                    <h4>
                      =  
                      <span data-ng-if="viewBy == 'cos'">{{ macTotal.total1 | number: 15}}</span>
                      <span data-ng-if="viewBy == 'sin'">{{ macTotal.total2 | number: 15}}</span>
                      <span data-ng-if="viewBy == 'exp'">{{ macTotal.total3 | number: 15}}</span>
                    </h4>
                  </li>
                </ul>
              </div>
              <div class="bl-warning add-padding bg-warning row" style="margin: 0">
                <ul class="list-inline list-unstyled">
                  <li class="col-sm-6"><h4>The Result of Javascript Math.<span data-ng-if="viewBy == 'cos'">cos</span><span data-ng-if="viewBy == 'sin'">sin</span><span data-ng-if="viewBy == 'exp'">exp</span>({{ radian }})</h4></li>
                  <li class="col-sm-6">
                    <h4>
                      = 
                      <span data-ng-if="viewBy == 'cos'">{{ rad.cos | number: 15}}</span>
                      <span data-ng-if="viewBy == 'sin'">{{ rad.sin | number: 15}}</span>
                      <span data-ng-if="viewBy == 'exp'">{{ rad.exp | number: 15}}</span>
                    </h4>
                  </li>
                </ul>
              </div>
            </div>
          {% endverbatim %}
        </div>
      </div>
    </div>
  </div>
</div>